@model AddEditContactVM

@for (var i = 0; i < Model.PhoneWithPhoneAttributes.Count; i++)
{
    <div class="phAttrContainer">
        <div class="row align-items-center">
            <div class="col-md-11">
                <div class="mb-3">
                    <label>Contat Phone</label>
                    <input type="text" class="form-control" asp-for="@Model.PhoneWithPhoneAttributes[i].Number">
                    <input type="hidden" class="form-control" asp-for="@Model.PhoneWithPhoneAttributes[i].Id">
                </div>
            </div>
            @if (i != 0)
            {
                <div class="col-md-1 mt-2">
                    <a href="javascript:void(0)" onclick="RemovePhoneAndPhAttribute(this,'@Model.PhoneWithPhoneAttributes[i].Id')">
                        <i class="fa fa-trash-o" style="color:red; font-size:25px;"></i>
                    </a>
                </div>
            }
        </div>
        @for (var j = 0; j < Model.PhoneWithPhoneAttributes[i].ContactPhoneAttributes.Count; j++)
        {
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input type="checkbox" asp-for="@Model.PhoneWithPhoneAttributes[i].ContactPhoneAttributes[j].IsChecked" class="form-check-input" />
                    <label>@Model.PhoneWithPhoneAttributes[i].ContactPhoneAttributes[j].Name</label>
                    <input type="hidden" asp-for="@Model.PhoneWithPhoneAttributes[i].ContactPhoneAttributes[j].Id" />
                    <input type="hidden" asp-for="@Model.PhoneWithPhoneAttributes[i].ContactPhoneAttributes[j].Name" />
                </label>
            </div>
        }
    </div>
}