@using Newtonsoft.Json
@model AddEditContactVM

@{
    var phoneCount = Model.PhoneWithPhoneAttributes.Count;
}

<div class="mt-3">
    <h2>Contact form</h2>
    <form asp-controller="Form" asp-action="SaveAddEditContact" id="myForm" method="post">
        <div class="mb-3 mt-3">
            <label>Contat Name</label>
            <input type="text" class="form-control" asp-for="ContactName">
        </div>
        <div class="mb-3">
            <label>Contat Email</label>
            <input type="text" class="form-control" asp-for="ContactEmail">
        </div>
        <div id="phAttrMainContainer">
            @for (var i = 0; i < Model.PhoneWithPhoneAttributes.Count; i++)
            {
                <div class="phAttrContainer">
                    <div class="row align-items-center">
                        <div class="col-md-11">
                            <div class="mb-3">
                                <label>Contat Phone</label>
                                <input type="text" class="form-control" asp-for="@Model.PhoneWithPhoneAttributes[i].Number">
                                <input type="hidden" class="form-control" asp-for="@Model.PhoneWithPhoneAttributes[i].Id">
                            </div>
                        </div>
                        @if (i != 0)
                        {
                            <div class="col-md-1 mt-2">
                                <a href="javascript:void(0)" onclick="RemovePhoneAndPhAttribute(this)">
                                    <i class="fa fa-trash-o" style="color:red; font-size:25px;"></i>
                                </a>
                            </div>
                        }
                    </div>
                    @for (var j = 0; j < Model.PhoneWithPhoneAttributes[i].ContactPhoneAttributes.Count; j++)
                    {
                        <div class="form-check mb-3">
                            <label class="form-check-label">
                                <input type="checkbox" asp-for="@Model.PhoneWithPhoneAttributes[i].ContactPhoneAttributes[j].IsChecked" class="form-check-input" />
                                <label>@Model.PhoneWithPhoneAttributes[i].ContactPhoneAttributes[j].Name</label>
                                <input type="hidden" asp-for="@Model.PhoneWithPhoneAttributes[i].ContactPhoneAttributes[j].Id" />
                                <input type="hidden" asp-for="@Model.PhoneWithPhoneAttributes[i].ContactPhoneAttributes[j].Name" />
                            </label>
                        </div>
                    }
                </div>
            }
        </div>
        <button type="button" class="btn btn-primary" onclick="AddPhoneAndPhAttribute()">Add phone</button>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right" id="btnSubmit">Submit</button>
        </div>
    </form>
</div>
<script type="text/template" id="phoneAndAttributesTemplate">
    <div class="phAttrContainer">
        <div class="row align-items-center" id="phoneSection">
            <div class="col-md-11">
                <div class="mb-3">
                    <label>Contat Phone</label>
                    <input type="text" class="form-control" id="" name="" value="">
                    <input type="hidden" class="form-control" id="" name="" value="">
                </div>
            </div>
            <div class="col-md-1 mt-2">
                <a href="javascript:void(0)" onclick="RemovePhoneAndPhAttribute(this)">
                    <i class="fa fa-trash-o" style="color:red; font-size:25px;"></i>
                </a>
            </div>
        </div>
        <div class="form-check mb-3" id="attributeSection">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="" name="" value="true" />
                <label></label>
                <input type="hidden" id="" name="" value="" class="hideCBId" />
                <input type="hidden" id="" name="" value="" class="hideCBName" />
            </label>
        </div>
    </div>
</script>

@section Scripts{
    <script>
        var phCount = parseInt('@phoneCount');
        var attributeList = '@Html.Raw(JsonConvert.SerializeObject(Model.PhoneWithPhoneAttributes[0].ContactPhoneAttributes))';
        var attributeListObject = JSON.parse(attributeList);

        $('#myForm').submit(function (event) {
            event.preventDefault(); // Prevent default form submission

            if (IsFormValid()) {
                var formData = $(this).serialize(); // Serialize form data
                debugger
                $.ajax({
                    url: $(this).attr('action'), // Form action URL
                    type: $(this).attr('method'), // Form method (POST in this case)
                    data: formData, // Serialized form data
                    success: function (response) {
                        window.location.href = `@Url.Action("FormAddRemoveControls", "Form")`;
                    },
                    error: function () {
                        alert('An error occurred.'); // Handle error scenario
                    }
                });
            }
            else {
                alert("Please fill form correctly");
            }
        });

        function RemovePhoneAndPhAttribute(ele) {
            $(ele).parent().closest('.phAttrContainer').remove();
        }

        function AddPhoneAndPhAttribute() {
            debugger
            // create phone and attribute div element
            //var phAttrContainer = $('<div class="phAttrContainer"></div>');
            var phoneAndAttributesTemplate = $("#phoneAndAttributesTemplate");
            //var phAttrContainer = $(phoneAndAttributesTemplate).find(".phAttrContainer").html();

            // append phone template
            var phoneSection = phoneAndAttributesTemplate.find("#phoneSection");
            $(phoneSection).find("input[type='text']").attr("id", `PhoneWithPhoneAttributes_${phCount}__Number`);
            $(phoneSection).find("input[type='text']").attr("name", `PhoneWithPhoneAttributes[${phCount}].Number`);
            $(phoneSection).find("input[type='hidden']").attr("id", `PhoneWithPhoneAttributes_${phCount}__Id`);
            $(phoneSection).find("input[type='hidden']").attr("name", `PhoneWithPhoneAttributes[${phCount}].Id`);

            //$(phoneSection).find("input[type='text']").attr({
            //    'id': `PhoneWithPhoneAttributes_${phCount}__Number`,
            //    'name': `PhoneWithPhoneAttributes[${phCount}].Number`
            //});
            //phoneTemplate = $(phoneAndAttributesTemplate).find("#phoneSection").find("input[type='hidden']").attr({
            //    'id': `PhoneWithPhoneAttributes_${phCount}__Id`,
            //    'name': `PhoneWithPhoneAttributes[${phCount}].Id`
            //});

            $("#phAttrMainContainer").append(phoneSection);
            

            // append attribute template
            var attributeContainer = $('<div></div>');
            attributeListObject.forEach(function (obj,i) {
                //var attributesTemplate = $("#attributesTemplate").html();
                var attributesTemplate = $(phoneAndAttributesTemplate).find("#attributeSection");
                $(attributesTemplate).find("input[type=checkbox]").attr({
                    'id': `PhoneWithPhoneAttributes_${phCount}__ContactPhoneAttributes_${i}__IsChecked`,
                    'name': `PhoneWithPhoneAttributes[${phCount}].ContactPhoneAttributes[${i}].IsChecked`
                });
                $(attributesTemplate).find("label").text(obj.Name);
                $(attributesTemplate).find(".hideCBId").attr({
                    'id': `PhoneWithPhoneAttributes_${phCount}__ContactPhoneAttributes_${i}__Id`,
                    'name': `PhoneWithPhoneAttributes[${phCount}].ContactPhoneAttributes[${i}].Id`,
                    'value': obj.Id
                });
                $(attributesTemplate).find(".hideCBName").attr({
                    'id': `PhoneWithPhoneAttributes_${phCount}__ContactPhoneAttributes_${i}__Name`,
                    'name': `PhoneWithPhoneAttributes[${phCount}].ContactPhoneAttributes[${i}].Name`,
                    'value': obj.Name
                });
                //$(phAttrContainer).append(attributesTemplate);
                //$(phoneAndAttributesTemplate).find("#phoneSection").replaceWith(phoneTemplate);
                $(attributeContainer).append(attributesTemplate);
            });
            //$(phoneAndAttributesTemplate).find("#attributeSection").replaceWith($(attributeContainer).html());

            //$("#phAttrMainContainer").append(phoneAndAttributesTemplate);

            phCount++;
        }

        function IsFormValid() {
            var status = false;
            $(".phAttrContainer").each(function (index, ele) {
                var inputPhone = $(ele).find('input[type=text]').val().trim();
                var checkboxLen = $(ele).find('input[type=checkbox]:checked').length;
                if (inputPhone == "" || checkboxLen == 0) {
                    status = false;
                    return false;
                }
                else {
                    status = true;
                }
            });
            return status;
        }
    </script>
}
