@model Learn_core_mvc.Models.FormViewModel

@{
    ViewData["Title"] = "Index Page";
}

@if (ViewBag.msg!=null) {
    <p>@ViewBag.msg</p>
}

<button onclick="location.href='@Url.Action("FormFill", "Form")'">Fill the form</button>

<form asp-controller="Form" asp-action="Index" method="post">
    <label>User name</label>
    <input asp-for="UserName" /><br />

    <label>User Password</label>
    <input asp-for="UserPassword" /><br />

    <label>User Country</label>
    <select asp-for="UserCountry" asp-items="Model.UserCountries"></select><br />

    <input asp-for="ApplicationType" /><br />

    <div>
        @for (var index = 0; index < Model.UserSubjects.Count; index++)
        {
            <input type="checkbox" asp-for="@Model.UserSubjects[index].IsChecked" class="form-check-input" />
            <label class="form-check-label" asp-for="@Model.UserSubjects[index].IsChecked">
                @Model.UserSubjects[index].LabelName
            </label>
            <input type="hidden" asp-for="@Model.UserSubjects[index].Id" />
            <input type="hidden" asp-for="@Model.UserSubjects[index].LabelName" />
            <br />
        }
    </div>
    <br/>
    @foreach (var item in Model.UserGenders)
    {
        <br />
        <label>
            <input asp-for="UserGender" type="radio" value="@item.Value" id="rdo_@item.Value" />@item.Text
        </label>
    }
    <br />

    <label>User Accept Terms</label>
    <input asp-for="AcceptsTerms" /><br />

    <button type="submit">Submit Form</button>
</form>

@section Scripts{ 
    <script>

    </script>
}

