@model ExcelDataVM

@{
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" id="tblExcelDatas">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ExcelDatas)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.City</td>
                        <td>@item.State</td>
                        <td>@item.Salary</td>
                    </tr>
                }
            </tbody>
        </table>

        <input type="submit" id="btnExport" value="Export" />
    </div>
</div>

@section Scripts{ 
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnExport").click(function () {
                $("#tblExcelDatas").table2excel({
                    filename: "Table.xls"
                });
            });
        });
    </script>
}