@model ExcelDataVM

@{
}

<div class="row">
    <div class="col-md-12">
        <div id="Grid">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ExcelDatas)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td>@item.City</td>
                            <td>@item.State</td>
                            <td>@item.Salary</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <form method="post" asp-action="ExportHtmlStringToExcel" asp-controller="ThirdParty">
            <input type="hidden" name="GridHtml" />
            <input type="submit" id="btnSubmit" value="Export" />
        </form>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
    </script>
}